<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/about.css">

    <title>Michelle - informaçoes</title>
</head>

<body>

    <header>
        <a href="/">Home</a>
    </header>

    <main>
        <img src="img/image-about.jpg" alt="">
        <article>
            <h1>
                Michelle Obama
            </h1>
            <p>
                Michelle LaVaughn Robinson Obama (Chicago, 17 de janeiro de 1964) é uma advogada e escritora
                norte-americana. É a esposa do 44.º presidente dos Estados Unidos, Barack Obama, e a 46.ª primeira-dama
                dos Estados Unidos, sendo a primeira afro-descendente a ocupar o posto. </p>
            <p>
                Michelle Obama nasceu e cresceu em Chicago. Graduou-se pela Universidade Princeton e pela Harvard Law
                School. Após completar seus estudos, retornou
                a Chicago e aceitou um emprego na firma de advocacia Sidley Austin, onde conheceu seu futuro marido,
                Obama. Subsequentemente, trabalhou como ajudante do prefeito de Chicago Richard M. Daley e para o Centro
                Médico da Universidade de Chicago.
            </p>
            <p>Em 1992, casou-se com Barack Obama, com quem tem duas filhas: Malia e Sasha. Ao longo de 2007 e 2008,
                ajudou na campanha presidencial de seu marido, sendo a sua presença um dos principais destaques da
                campanha. Discursou na Convenção Nacional Democrata de 2008, 2012 e 2016. Como esposa do então senador e
                mais tarde primeira-dama, se tornou em um ícone da moda e modelo para as mulheres.
            </p>

        </article>
    </main>

</body>

</html>